{% extends "/layout.htm" %}

{% block title %}
    Филиалы
{% endblock %}

{% block body %}
<h4>Филиалы сети</h4>

<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Адрес</th>
            <th scope="col">Время работы</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% if branches: %}
            {% for branch in branches: %}
                <tr>
                    <td>
                        <a href="{{ url_for('branches_show', branch_id=branch.id) }}">
                            {{ branch.address }}
                        </a>
                    </td>
                    <td>{{ branch.time_open.strftime("%H:%M") }} - {{ branch.time_close.strftime("%H:%M") }}</td>
                    <td>
                        <a href="{{ url_for('branches_show', branch_id=branch.id) }}" class="btn btn-success btn-sm" title="Сведения о филиале"><i class="bi bi-eye-fill light"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else: %}
            <h5>Нет добавленных филиалов</h5>
        {% endif %}
    </tbody>
</table>

{% endblock %}